.main-contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .title-contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-contact h1 {
  font-size: 69px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 43px;
  margin-bottom: 57px;
  color: #017ac3;
}

.wrapper-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.box-img {
  width: 300px;
  margin-left: 143px;
  margin-right: 102px;
  display: flex;
  flex-direction: column;
}
.box-img .title-img {
  font-size: 22px;
  width: 305px;
  color: #19c3e3;
  margin-bottom: 22px;
}
.text-center {
  width: 350px;
  height: 250px;
  margin-right: 102px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.text-center p span {
  color: #017ac3;
  font-size: 16px;
  font-weight: bold;
  margin-top: 150px;
}
.fleche:before {
  content: "➡️";
}
.contact-box {
  width: 375px;
  height: 250px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact-box p {
  margin-top: 20px;
}
.accordion {
  width: 90%;
  margin: 0 auto;
}
.faq {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section h2 {
  font-size: 45px;
  font-weight: bold;
  margin: 45px 0;
  color: #017ac3;
}
.accordion-item {
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  padding: 15px;
  background-color: #f7f7f7;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-header:hover {
  background-color: #d8f1ff;
}

.accordion-content {
  padding: 15px;
  display: none;
  border-top: 1px solid #e5e5e5;
  overflow: hidden;
  text-align: left;
  line-height: 1.6;
}

.accordion-item.active .accordion-content {
  display: block;
}


.accordion-content.active {
  display: block;
  transition: max-height 0.3s ease-in-out;
}
.form-contact {
  background: linear-gradient(#b0dff9, #78c2f2);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.form-contact .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 85%;
}
.form input,
select,
textarea {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.form .form-info,
.form-courriel,
.form-adresse,
.form-vs,
.form-objet,
.form-mss,
.form-piecej,
.form-sub,
.form-btnSubmit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
.form .form-info p,
.form-courriel p,
.form-adresse p,
.form-vs p,
.form-objet p,
.form-mss p,
.form-piecej p,
.form-sub p,
.form-btnSubmit p {
  margin: 25px;
}

.input-info,
.input-courriel,
.input-adresse,
.input-obj,
.input-textarena,
.input-pj,
.input-ck {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.input-info select,
.input-info input {
  flex: 1 1 calc(33.33% - 20px); /* Make the first three inputs share the space */
}

.input-info input:nth-child(4),
.input-info input:nth-child(5) {
  flex: 1 1 calc(50% - 10px); /* Make the last two inputs take half width each */
}

.input-courriel select {
  flex: 1 0 20%; /* Fixed width of 25% for the dropdown */
}

.input-courriel input {
  flex: 1 0 75%; /* Fixed width of 75% for the email input */
}

.input-adresse input:first-child {
  width: 100%; /* Make the first input (Voie) 100% width */
}

.input-adresse input:not(:first-child) {
  width: 32%; /* Set the remaining inputs to take 32% width */
}

.input-adresse input:not(:first-child) {
  flex: 1; /* Ensure all inputs share space evenly */
}

.input-vs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.input-vs button {
  width: 260px;
  height: 100%;
  cursor: pointer;
  background: #eb5957;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-out;

}
.input-vs button:hover {
  background: #f27775;
}
.input-vs button span {
  padding: 10px;
}
.input-vs button:first-child {
  border-radius: 50px 0px 0px 50px;
}
.input-vs button:last-child {
  border-radius: 0px 50px 50px 0px;
}

.input-obj select {
  width: 100%;
}
.input-textarena textarea {
  width: 100%;
  height: 250px;
}
.input-pj {
  position: relative;
}
.input-pj input {
  display: none;
}

.input-pj label {
  z-index: 2;
  cursor: pointer;
  padding: 0 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 250px;
  background: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.input-pj label h3 {
  color: #0ea5e9;
}

.input-ck label p {
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
  line-height: 1.2;
  margin: 0;
}

.input-ck label p input {
  margin-right: 20px;
}

.form-btnSubmit {
  height: 250px;
}

.form-btnSubmit button {
  width: 100%;
  height: 30px;
  margin: 15px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

.form-btnSubmit button:first-child {
  background: #eb5957;
  transition: background-color 0.3s ease-out;
}
.form-btnSubmit button:first-child:hover {
  background: #f27775;
}
.form-btnSubmit button:last-child {
  background: #e5e4e4;
  cursor: pointer;
}
/* Ordinateurs de bureau moyens et petits */
@media (max-width: 1280px) {
  .form-contact{
    margin-top: 50px;
  }
  .contact .wrapper-main {
    flex-direction: column;
    justify-content: center;
  }


  .text-center{
    margin: 0;
    width: 80%;
  }
.contact-box{
  width: 80%;
  align-items: center;

}

}

/* Tablettes */
@media (max-width: 1024px) {
  .form-contact{
    margin-top: 50px;
  }
  .title-contact h1 {
    font-size: 48px;
  }

  .text-center p span {
    font-size: 14px;
  }

  .form input,
  select,
  textarea {
    width: 100%;
  }

  .input-info select,
  .input-info input,
  .input-courriel select,
  .input-courriel input,
  .input-adresse input {
    flex: 1 1 100%;
  }

  .input-adresse input:not(:first-child) {
    width: 100%;
  }

  .input-vs button {
    width: 100%;
  }
}

/* Smartphones grands écrans */
@media (max-width: 768px) {
  .input-vs button {
    font-size: 11px;
  }
  .title-contact h1 {
    font-size: 36px;
    margin: 20px 0;
  }



  .wrapper-main {
    flex-direction: column;
  }

  .box-img {
    margin-bottom: 20px;
  }
  .form-contact{
    margin-top: 250px;
  }
  .accordion {
    width: 100%;
  }

  .input-info input,
  .input-courriel input,
  .input-adresse input {
    flex: 1 1 100%;
  }

  .input-pj label {
    padding: 0 15%;
  }

  .form-btnSubmit button {
    width: 100%;
    margin: 10px 0;
  }
}

/* Smartphones petits écrans */
@media (max-width: 480px) {
  .title-contact h1 {
    font-size: 28px;
  }

  .box-img .title-img {
    font-size: 18px;
  }

  .text-center p span {
    font-size: 12px;
  }

  .input-pj label {
    padding: 0 10%;
    height: 200px;
  }

  .input-textarena textarea {
    height: 150px;
  }

  .form-btnSubmit button {
    height: 40px;
  }
}


