h1,
h2 {
  color: #017ac3;
  text-align: center;
  font-size: 3em;
  margin: 1.5em auto;
}

#don-intro,
#don-amount,
#don-coordinates,
#don-payment,
#payment-summary,
#bank-info,
#check-info {
  margin-bottom: 20px;
}

.box-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15vw;
  align-items: center;
  justify-content: space-around;
}
.info-box {
  background-color: #00aaff;
  padding: 10px;
  margin: 10px 0;
  color: white;
  border-radius: 5px;
  width: 530px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-box p {
  text-align: left;
  margin: 10px 0;
}

.btn-don {
  width: 100%;
  height: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-choix {
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 25px;
  border-radius: 50px;
  width: 600px;
}

.btn-choix:hover {
  background-color: #d14040;
}

.div-amount-select {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 18vw;
  margin-top: 25px;
}
.don-amount-section {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 20px;
}
.selected-amount {
  color: #ccc;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 200px;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="range"] {
  width: 100%;
  margin: 10px 0;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #ccc;
  border-radius: 50px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background-color: #000 !important;
  border-radius: 50%;
  cursor: pointer;
}

.range-values {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.custom-amount-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.custom-amount-input input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 15px;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.currency-button {
  background-color: #005daa;
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  margin-left: -30px;
  cursor: pointer;
}

.form-container {
  width: 80%;
  margin: 0 auto;
}

.form-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.form-tab {
  background-color: rgba(50, 146, 202, 0.58);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

.form-tab.active {
  background-color: #3292ca;
  color: #fff;
}

.icon {
  margin-right: 25px;
}

.form-content {
  display: none;
}

.form-content.active {
  display: block;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.mandatory-fields {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  font-weight: bold;
}
.btn-select-mode {
  background-color: #017ac3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 25px;
  border-radius: 50px;
  width: 600px;
}

.btn-select-mode:last-child {
  background-color: rgba(50, 146, 202, 0.58);
}

.div-btn-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 90px 0;
}
.info {
  width: 80%;
  background-color: #eb5957;
  padding: 10px;
  color: white;
  border-radius: 30px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  text-align: center;
}

@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 2em;
  }

  .box-info {
    flex-direction: column;
    height: auto;
  }

  .info-box {
    width: 90%;
    height: auto;
  }

  .btn-choix {
    width: 80%;
  }

  .div-amount-select {
    flex-direction: column;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .don-amount-section {
    width: 90%;
    margin: 20px 0;
  }

  .selected-amount {
    margin: 0;
  }
  .div-btn-mode {
    width: 100%;
    flex-direction: column;
  }

  .btn-select-mode {
    width: 200px;
    font-size: 10px;
  }
  .btn-select-mode:last-child {
    margin: 10px 0 0 0;
  }
}

@media (max-width: 480px) {
  h1,
  h2 {
    font-size: 1.5em;
  }

  .form-container {
    width: 100%;
  }

  .btn-choix,
  .btn-don {
    width: 100%;
    font-size: 12px;
  }

  .info {
    width: 90%;
    padding: 8px;
  }
}
