body {
  height: 100vh;
}

.fond {
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  height: 100%;
}
.container .card {
  width: 500px;
  background: #ffffff;
  height: 450px;
  border-radius: 8px;
}
.card:nth-child(2),
.card:nth-child(3) {
  display: none;
}

.card .head {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .head h2 {
  font-size: 20px;
  margin-left: 10px;
}
.card form {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto; /*275*/
  border-top: 1px solid #eee;
}
.card form .wrapper-center {
  width: 90%;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper-center .form-txt {
  margin-bottom: 20px;
}
.wrapper-center .form-txt {
  line-height: 1.3;
  text-align: left;
}

.card form .wrapper-center label {
  font-size: 16px;
  margin: 15px 0;
}

.card form .wrapper-center input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding: 0 15px;
  border: 1px solid #ddd;
}
.card form .btn-modal {
  border-top: 1px solid #eee;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  gap: 25px;
}
.card form .btn-modal .btn-submit {
  width: 177px;
  height: 45px;
  background: #017ac3;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all ease-out 0.3s;
}
.card form .btn-modal .btn-submit:hover {
  background-color: #0056b3;
}

.card form .btn-modal .btn-reset {
  width: 177px;
  height: 45px;
  background: #dadada;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all ease-out 0.3s;
}
.card form .btn-modal .btn-reset:hover {
  background: #ddd;
}

.btn-forget-pwd {
  color: #757575;
  transition: all ease-out 0.3s;
}
.btn-forget-pwd:hover {
  color: #ddd;
}

.error-message-admin {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .container {
    gap: 10px; /* Réduit les espaces entre les cartes */
  }

  .container .card {
    width: 90%; /* Les cartes prennent presque toute la largeur */
    height: auto; /* Ajuste automatiquement la hauteur selon le contenu */
  }

  .card .head h2 {
    font-size: 18px; /* Réduit légèrement la taille de la police */
  }

  .card form .btn-modal {
    gap: 10px; /* Réduit l'écart entre les boutons */
  }
}
@media (max-width: 480px) {
  .card .head h2 {
    font-size: 16px; /* Encore plus petit pour optimiser l'espace */
  }

  .card form .wrapper-center input {
    height: 35px; /* Réduit légèrement la hauteur des champs d'entrée */
  }

  .card form .btn-modal {
    height: auto; /* Ajuste la hauteur des boutons */
  }
  .card form .btn-modal .btn-submit,
  .card form .btn-modal .btn-reset {
    height: 25px;
    margin: 15px;
  }
  .btn-forget-pwd {
    font-size: 15px;
    text-align: center;
  }
}

#confirm-new-pwd {
  margin-bottom: 15px;
}

.error-message-general-admin {
  position: absolute;
  top: 5%;
  color: #eb5957;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-out;
}
