header {
  text-align: center;
  height: 70px;
  background: #017ac3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

header h1 {
  padding: 15px;
  margin: 0  50px;
}
header a{
  margin: 0  130px;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-out;
}
header a:hover{
  margin: 0  130px;
  color: #ffffff;
  border-bottom: 1px solid  #ffffff;
}
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1 1 1300px; /* Minimum de 300px, extensible */
  max-width: 100%; /* Limite la largeur pour des affichages larges */
  width: 100%;
  display: flex;
  flex-direction: column;
}
.box .head {
  margin-bottom: 16px;
}

.box .body-box {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart-question{
  z-index: 25;
  margin: 50px;
  color: #017ac3;
}
canvas {
  gap: 20px;
  max-width: 100%;
}
.head h2 {
  text-align: center;
  color: #017ac3;
  padding: 15px;
}

