header {
  text-align: center;
  height: 70px;
  background: #017ac3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
}
header h1 {
  padding: 15px;
  margin: 0 50px;
}
header a {
  margin: 0 130px;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-out;
}
header a:hover {
  margin: 0 130px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
}

.box {
  width: 90%;
  height: auto;
  max-width: 1900px; /* Limite la taille maximale */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.box .head {
  margin-bottom: 16px;
}

.box .body-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 20px;
}
canvas {
  height: auto;
  max-height: 300px;
}
.head h2 {
  text-align: center;
  color: #017ac3;
  padding: 15px;
}
.chart-question {
  z-index: 25;
  margin: 50px;
  color: #017ac3;
}
